<div class="container">
 <div class="row">
  <div class="col-md-4 md-5">
   <mat-card class="category" routerLink="category">
    <mat-card-header>
     <mat-card-title>
      <h1><fa-icon [icon]="faCoffee"></fa-icon></h1>
      Category
     </mat-card-title>
    </mat-card-header>
    <mat-card-content>Manage your category here
    </mat-card-content>
   </mat-card>
  </div>
  <div class="col-md-4 md-5">
   <mat-card class="category" routerLink="allPosts">
    <mat-card-header>
     <mat-card-title>
      <h1><fa-icon [icon]="file"></fa-icon></h1>
      Posts
     </mat-card-title>
    </mat-card-header>
    <mat-card-content>Manage your posts here
    </mat-card-content>
   </mat-card>
  </div>

 </div>
</div>